extends layout

block content
    h1 edit rectangle #{rect.id}

    form(method='POST' action='')
        label(for='width') Width of Rectangle:
        input#width(type='number', name='width', value=`${rect.width}`)
        br
        label(for='height') Height of Rectangle:
        input#height(type='number', name='height', value=`${rect.height}`)
        br
        label(for='color') Color of Rectangle:
        input#color(type='color', name='color', value=`${rect.color}`)
        br
        label(for='freq') Number of occurences:
        input#freq(type='number', name='freq', value=`${rect.freq}`)
        br
        label(for='border') Border thickness:
        input#border(type='number', name='border', value=`${rect.border}`)
        br
        label(for='borderradius') Border Radius:
        input#borderradius(type='number', name='borderradius', value=`${rect.borderradius}`)
        br
        label(for='font') Font Family:
        input#font(type='number', name='font', value=`${rect.font}`)
        br
        input(type='submit')