extends layout

block content
    a(href=`/create`)
        button(type="button") + add
    table(style='width:100%', border='1')
        tr
            th id
            th date
            th width
            th height
            th color
            th freq
            th 
        each rect in rectangles
            tr
                th #{rect.rect_id}
                th #{rect.rect_date}
                th #{rect.width}
                th #{rect.height}
                th #{rect.color}
                th #{rect.freq}
                th 
                    a(href=`rect/${rect.rect_id}`)
                        button(type="button") edit
            